#about {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

#leetcode{
    padding-top: 2rem;
}

.row :nth-child(2){
    justify-content: center;
}
