#bio{
    p {

        color: rgba(198, 201, 216, 0.8);
        text-align: initial;
        font-size: 15pt;
        font-weight: 500;
    }

    img {
        vertical-align: middle;
        border-radius: 10%;
        height: 15rem;
        margin-bottom: 3rem;
        text-align: start;
    }

    .certImg{
        height: 10rem;
    }
}

