a {
  text-decoration: none !important;
}
.gh-card {
  background-color: #0e0e0e;
  font-family: sans-serif;
  position: relative;
  /* border: 1px solid #efefef; */
  padding: 20px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  display: block;
  display: flex;
  flex-direction: column;
  min-width: 300px;

  .row {
    justify-content: space-between;
  }

  .header img {
    padding: 10%;
    border-radius: 50%;
    max-width: 110%;
    padding-top: 20%;
  }
}
.gh-logo {
  padding-top: 2re;
  position: absolute;
  padding-top: 1rem;

  img {
    width: 3.8rem;
    overflow: overlay;
  }
}

.gh-display-name {
  color: #bbc0c4;
  text-align: center;
  padding-top: 1rem;
}

#gh-content {
  padding: 10px 0;
  text-align: center;

  p {
    font-size: 3em;
    text-align: center;
    margin: 0;
    color: #f48024;
  }

  small {
    color: #bbc0c4a3;
    font-size: 1.5rem;
  }
}

#follow{
    p {
        font-size: 2rem;
        text-align: center;
        margin: 0;
        color: #ffcd03;
        max-height: 3rem;
      }
    
      small {
        color: #bbc0c4a3;
        font-size: 1rem;
      }
}







