a {
  text-decoration: none !important;
}

.lc-card {
  background-color: #0e0e0e;
  font-family: sans-serif;
  position: relative;
  /* border: 1px solid #efefef; */
  padding: 20px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  display: block;
  display: flex;
  flex-direction: column;
  min-width: 300px;

  .row {
    justify-content: space-between;
  }

  .lc-header img {
    padding: 10%;
    border-radius: 50%;
    max-width: 110%;
    padding-top: 20%;
  }
}

.lc-display-name {
    color: #bbc0c4;
    text-align: center;
    padding-top: 1rem;
}

.lc-logo {
  padding-top: 2re;
  position: absolute;
  padding-top: 1rem;

  img {
    width: 3.5rem;
    overflow: overlay;
  }
}

.lc-content,
.lc-header,
.lc-footer {
  padding: 10px 0;
  // border-bottom: 1px solid #eee;
}

.lc-content {
  text-align: center;
}

.lc-header {
    padding-top: 0;
    text-align: center;
    color: #ffcd03;

  h4 {
    font-size: 2rem;
  }
}

.lc-footer {
  text-align: center;
  border-bottom: 0;
  padding-bottom: 0;
}

.lc-reputation {
    // padding-top: 2rem;
    font-size: 2em;
    text-align: center;
    margin: 0;
    color: #f48024;
    height: auto;
}

.lc-reputation-label {
  color: #bbc0c4a3;
  font-size: 1.5rem;
}

.lc-badges-label {
    color: #bbc0c4;
    font-size: 1rem;
    margin-right: 10px;
    text-align: center;
    height: 0.5rem;
    font-weight: 500;
}
