#navBar {
  .link {
    color: rgb(247 245 245);
    font-size: 19px;
    font-weight: 400;
    font-family: Poppins,sans-serif;
    transition: transform 0.4s;
    margin-left: 3pt;
    margin-right: 3pt;
   
  }

  .left:hover {
    color: #f9004d;
    transform: scale(1.1);
  }

  .left:focus{
    transition: box-shadow 1s;
    box-shadow: 0 3px 0px 0px #f9004d;
  }

  .right:hover{
    color: white;
    transform: scale(1.1);
  }
}
